<div class="container" [@fade]="fade">
  <content-card-header>
    <div class="mat-headline">
      <span>List of Items</span>
      <search-box
        (queryChange)="searchByQuery($event)"
        [initialValue]="searchQuery">
      </search-box>
    </div>
    <div class="header-filters">
      <div class="header-filters__countries">
        <ui-chips
          [options]="regions"
          [allOptions]="regionsList$ | async"
          placeholder="Regions"
          [selectedOptions]="regionsToFilter"
          (onChange)="filterByRegions($event)">
      </ui-chips>
      </div>
      <div class="header-filters__categories">
        <ui-chips
          [options]="categories"
          [allOptions]="categoriesList$ | async"
          placeholder="Categories"
          [selectedOptions]="categoriesToFilter"
          (onChange)="filterByCategories($event)">
        </ui-chips>
      </div>
    </div>
    <mat-form-field>
      <mat-select
        [(value)]="defaultOrder"
        placeholder="Sort by..."
        (selectionChange)="onOptionSelect($event)">
        <mat-option *ngFor="let order of orders" [value]="order.value">
          {{ order.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </content-card-header>
  <content-card class="padding">
    <results-number
      [total]="applications.length"
      [filtered]="filteredApplications.length"></results-number>
    <div class="list-filters">
      <mat-tab-group
        #tabGroup
        (focusChange)="onStatusChange($event)"
        [selectedIndex]="activeStatusFilter"
        color="accent">
        <mat-tab label="Active"></mat-tab>
        <mat-tab label="All"></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Pending Action<warning-circle *ngIf="pendingNumber > 0" class="counter-badge" [content]="pendingNumber"></warning-circle>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Overdue<warning-circle *ngIf="overdueNumber > 0" class="counter-badge yellow" [content]="overdueNumber"></warning-circle>
          </ng-template>
        </mat-tab>
        <mat-tab label="Approved"></mat-tab>
        <mat-tab label="Closed"></mat-tab>
      </mat-tab-group>
    </div>
    <app-list [applications]="filteredApplications"></app-list>
  </content-card>
</div>

<router-outlet></router-outlet>
