@import 'generic/content-card';
@import 'mixins';
@import 'variables';
@import 'generic/ui';

:host {
  @include host--flex;
  overflow: hidden;
  background: $color-grey__1;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  height: 100%;
  padding: 15px 15px 20px;
}

content-card {
  flex: 1 1 auto;
  width: 100%;

  & /deep/ mat-card {
    overflow: hidden;
    margin-bottom: 0;
  }

  .list-filters {
    display: flex;
    flex: 0 0 40px;
    width: 100%;
    border-bottom: 2px solid $color-grey__4;
    .xsmall :host & {
      display: block;
      overflow: auto;
      white-space: nowrap;
    }
  }

  & /deep/ .mat-tab-labels .mat-tab-label {
    min-width: 140px;
    height: 40px;
    font-family: $font-family__roboto-mono;
    line-height: 40px;
    opacity: 1;
    color: $color__black;
  }

  & /deep/ .mat-tab-header {
    border: none;
  }

  & /deep/ mat-ink-bar {
    height: 4px;
    background-color: $color__pink;
  }

  /deep/ .datatable-body-row .datatable-row-left {
    .xsmall :host & {
      transform: none !important;
    }
  }
}

mat-form-field {
  margin-top: 45px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 13px;
  font-size: 12px;
  color: $color-grey__6;

  & /deep/ .mat-select-arrow,
  & /deep/ .mat-select-trigger,
  & /deep/ .mat-select-value {
    color: $color__orange;
  }

  & /deep/ .mat-form-field-underline {
    background-color: $color__orange;
  }

  & /deep/ .mat-form-field-label,
  & /deep/ .mat-select:focus {
    color: $color-grey__6;
  }
}

mat-form-field {
  .small :host &,
  .xsmall :host & {
    margin-top: 0;
  }
}

results-number {
  @extend %results__number;
}
